main{
    width: 100vw;
    padding: 10rem 5% 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
}

main h1{
    font-size: 40px;
    color: var(--orange);
}

main p{
    font-size: 18px;
}

main h2{
    font-size: 24px;
    color: var(--orange);
}

main h3{
    font-size: 20px;
    color: var(--orange);
}

main ul{
    margin-left: 2rem;
    font-size: 18px;
}

main li{
    margin-bottom: 1rem;
}

main span{
    font-weight: bold;
}

main a{
    color: var(--orange);
}


@media (max-width: 1919px) {
    main{
        padding: 7rem 5% 0 5%;
    }

    main h1{
        font-size: 32px;
    }

    main p{
        font-size: 16px;
    }

    main h2{
        font-size: 20px;
    }

    main h3{
        font-size: 18px;
    }

    main ul{
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    main{
        padding: 10rem 5% 0 5%;
    }

    main h1{
        font-size: 24px;
    }

    main p{
        font-size: 14px;
    }

    main h2{
        font-size: 16px;
    }

    main h3{
        font-size: 14px;
    }

    main ul{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    main{
        padding: 7rem 5% 0 5%;
    }

    main h1{
        font-size: 18px;
    }

    main p{
        font-size: 12px;
    }

    main h2{
        font-size: 14px;
    }

    main h3{
        font-size: 12px;
    }

    main ul{
        font-size: 12px;
    }
}